:root {
  --pur:  #361999;
  --dg:   #20947C;
  --bg:   #05F4B7;
  --bb:   #000000;
  --b:    #1A1A1A;
  --g:    #3F4244;
  --lg:   #5C5C5C;
  --blw:  #E1F2F7;
  --w:    #F6F6F6;
  --p:    #E85971;
  --pr:   #EF0D50;
  --r:    #BE2F29;
  --y:    #ECAF44;
}




body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  border-left: 2px solid black;
  padding: 10px;
  width: 800px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: var(--g);
  color: var(--w);
}

.present {
  background-color: var(--bg);
  color: var(--bb);
}

.future {
  background-color: var(--dg);
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  justify-self:center;
}


.may-time {
  margin-top:auto;
  margin-bottom:auto;
  
}

.may-text {
  margin-top:auto;
  margin-bottom:auto;
}
.may-time-box {
  margin-top:auto;
  margin-bottom:auto;
}